name: flutter_ml_helper_example
description: Example app for Flutter ML Helper package
publish_to: 'none'

version: 0.0.1+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_ml_helper:
    path: ../
  cupertino_icons: ^1.0.0
  image_picker: ^1.0.0
  image: ^4.0.0
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/model.tflite
